<div class="container">
  <h3>Systems</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">System</th>
        <td>
          <select class="custom-select" id="system" (change)="onSystemChange($event.target!)">
            <option *ngFor="let system of systems; let i = index" [value]="systems[i].global_prefix">{{systems[i].global_prefix}} System</option>
          </select>
        </td>
      </tr>
      <tr>
        <th scope="row">Release</th>
        <td>Placeholder</td>
      </tr>
      <tr>
        <th scope="row">Zones</th>
        <td>Zones placeholder</td>
      </tr>
      <tr>
        <th scope="row">Machine</th>
        <td>{{systemLoaded.machine}}</td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td>{{systemLoaded.description}}</td>
      </tr>
      <tr>
        <th scope="row">URL</th>
        <td>{{systemLoaded.url}}</td>
      </tr>
      <tr>
        <th scope="row">Owners</th>
        <td>{{systemLoaded.owners}}</td>
      </tr>
    </tbody>
  </table>

</div>
