<div class="container-fluid">
  <h3 *ngIf="formStatus != 4">Create Event</h3>
  <div class="row" *ngIf="formStatus != 4">
    <div class="col">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mt-2" novalidate>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="system">System</label>
            <select class="custom-select" (change)="onSystemChange($event.target!)" id="system" name="system" formControlName="system">
              <option *ngFor="let system of systems; let i = index" [value]="systems[i].global_prefix">
                {{systems[i].global_prefix}}
              </option>
            </select>
          </div>
          <div class="form-group col-5">
            <label for="featureoff">JIRA Case</label>
            <input type="text" class="form-control" id="jiracase" name="jiracase" aria-describedby="jiracaseHelp" formControlName="jiraCase">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="zones">Zones</label>
            <div ngbDropdown id="zones">
              <button class="btn btn-light" type="button" ngbDropdownToggle>-Select-&nbsp;</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <div formArrayName="zones" class="form-array">
                  <div *ngFor="let zone of zones.controls; let i=index" class="container-fluid">
                    <div [formGroupName]="i" class="container-fluid">
                      <input type="checkbox" class="form-check-input" id="{{i}}" formControlName="checked" (change)="onZoneChange($event)" [checked]="zone.get('checked')?.value">
                      <label class="form-check-label" for="{{i}}">
                        {{zone.get('zonal_prefix')?.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <textarea class="form-control mt-2" rows="3" formControlName="zoneText"></textarea>
          </div>
          <div class="form-group col-5">
            <label for="eventTypes">Event Types</label>
            <div ngbDropdown id="eventTypes">
              <button class="btn btn-light" type="button" ngbDropdownToggle>-Select-&nbsp;</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <div formArrayName="types" class="form-array">
                  <div *ngFor="let type of types.controls; let i=index" class="container-fluid">
                    <div [formGroupName]="i" class="container-fluid">
                      <input type="checkbox" class="form-check-input" id="eventType{{i}}" formControlName="checked" (change)="onEventTypeChange($event)" [checked]="type.get('checked')?.value">
                      <label class="form-check-label" for="eventType{{i}}">
                        {{type.get('name')?.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <textarea class="form-control mt-2" rows="3" formControlName="typeText"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="startDate">Start Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="startDate" name="startDate" ngbDatepicker #startDate="ngbDatepicker" aria-describedby="startDateHelp" formControlName="startDate">
              <div class="input-group-append">
                <button class="btn btn-light" (click)="startDate.toggle()" type="button">Calendar</button>
              </div>
            </div>
            <small id="startDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
          </div>
          <div class="form-group col-5">
            <label for="endDate">End Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="endDate" name="endDate" ngbDatepicker #endDate="ngbDatepicker" aria-describedby="endDateHelp" formControlName="endDate">
              <div class="input-group-append">
                <button class="btn btn-light" (click)="endDate.toggle()" type="button">Calendar</button>
              </div>
            </div>
            <small id="endDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="featureon">Features turned ON</label>
            <input type="text" class="form-control" id="featureon" name="featureon" aria-describedby="featureonHelp" formControlName="featureOn">
            <small id="featureonHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CAP205, CAP207</small>
          </div>
          <div class="form-group col-5">
            <label for="featureoff">Features turned OFF</label>
            <input type="text" class="form-control" id="featureoff" name="featureoff" aria-describedby="featureoffHelp" formControlName="featureOff">
            <small id="featureoffHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CAP205, CAP207</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="apiused">APIs Used</label>
            <input type="text" class="form-control" id="apiused" name="apiused" aria-describedby="apiusedHelp" formControlName="apiUsed">
            <small id="apiusedHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. IPAY, OPAY</small>
          </div>
          <div class="form-group col-5">
            <label for="compiledsources">Compiled Sources</label>
            <input type="text" class="form-control" id="compiledsources" name="compiledsources" aria-describedby="compiledsourcesHelp" formControlName="compiledSources">
            <small id="compiledsourcesHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. LEC06A, FTC0630</small>
          </div>
        </div>
        <button type="submit" class="btn mt-3 mb-5" [disabled]="eventForm.invalid"
          [ngClass]="{'btn-light':eventForm.invalid, 'btn-primary':eventForm.valid}">Submit</button>
      </form>
    </div>
  </div>
  <h3 *ngIf="formStatus == 4">New Event Created</h3>
  <div class="row" *ngIf="formStatus == 4">
    <div class="col-6">
      <table class="table table-striped table-hover table-sm">
        <tbody>
          <tr>
            <th scope="row">System</th>
            <td>{{event.system}}</td>
          </tr>
          <tr>
            <th scope="row">Zones</th>
            <td>{{event.zonesStr}}</td>
          </tr>
          <tr>
            <th scope="row">Event Types</th>
            <td>{{event.event_typesStr}}</td>
          </tr>
          <tr>
            <th scope="row">Start Date</th>
            <td>{{event.start_date}}</td>
          </tr>
          <tr>
            <th scope="row">End Date</th>
            <td>{{event.end_date}}</td>
          </tr>
          <tr>
            <th scope="row">JIRA Case</th>
            <td>{{event.jira_case}}</td>
          </tr>
          <tr>
            <th scope="row">Features On</th>
            <td>{{event.features_on}}</td>
          </tr>
          <tr>
            <th scope="row">Features Off</th>
            <td>{{event.features_off}}</td>
          </tr>
          <tr>
            <th scope="row">Compiled Sources</th>
            <td>{{event.compiled_sources}}</td>
          </tr>
          <tr>
            <th scope="row">API Used</th>
            <td>{{event.api_used}}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{event.created_by}}</td>
          </tr>
          <tr>
            <th scope="row">Creation Date</th>
            <td>{{event.creation_date}}</td>
          </tr>
          <tr>
            <th scope="row">Last Modified By</th>
            <td>{{event.last_changed_by}}</td>
          </tr>
          <tr>
            <th scope="row">Last Modified Date</th>
            <td>{{event.last_changed_date}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-primary" *ngIf="formStatus == 4" (click)="navigateToCalendar()">Back to Calendar</button> -->
</div>
