<div class="container-fluid">
  <h3>Event</h3>
  <div class="row">
    <div class="col">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="mt-2" novalidate>
        <div class="form-row">
          <div class="form-group col-2 mr-2">
            <label for="system">System</label>
            <select class="custom-select" (change)="onSystemChange($event.target!)" id="system" name="system" formControlName="system">
              <option *ngFor="let system of systems; let i = index" [value]="systems[i].global_prefix">
                {{systems[i].global_prefix}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="zones">Zones</label>
            <div ngbDropdown id="zones">
              <button class="btn btn-light" type="button" ngbDropdownToggle>-Select-&nbsp;</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <div formArrayName="zones" class="form-array">
                  <div *ngFor="let zone of zones.controls; let i=index" class="container-fluid">
                    <div [formGroupName]="i" class="container-fluid">
                      <input type="checkbox" class="form-check-input" id="{{i}}" formControlName="checked" (change)="onZoneChange($event)" [checked]="zone.get('checked')?.value">
                      <label class="form-check-label" for="{{i}}">
                        {{zone.get('zonal_prefix')?.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <textarea class="form-control mt-2" rows="3" formControlName="zoneText"></textarea>
          </div>
          <div class="form-group col-5">
            <label for="eventTypes">Event Types</label>
            <div ngbDropdown id="eventTypes">
              <button class="btn btn-light" type="button" ngbDropdownToggle>-Select-&nbsp;</button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <div formArrayName="types" class="form-array">
                  <div *ngFor="let type of types.controls; let i=index" class="container-fluid">
                    <div [formGroupName]="i" class="container-fluid">
                      <input type="checkbox" class="form-check-input" id="{{i}}" formControlName="checked" (change)="onEventTypeChange($event)" [checked]="type.get('checked')?.value">
                      <label class="form-check-label" for="{{i}}">
                        {{type.get('name')?.value}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <textarea class="form-control mt-2" rows="3" formControlName="typeText"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="startDate">Start Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="startDate" name="startDate" ngbDatepicker #startDate="ngbDatepicker" aria-describedby="startDateHelp" formControlName="startDate">
              <div class="input-group-append">
                <button class="btn btn-light" (click)="startDate.toggle()" type="button">Calendar</button>
              </div>
            </div>
            <small id="startDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
          </div>
          <div class="form-group col-5">
            <label for="endDate">End Date</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd" id="endDate" name="endDate" ngbDatepicker #endDate="ngbDatepicker" aria-describedby="endDateHelp" formControlName="endDate">
              <div class="input-group-append">
                <button class="btn btn-light" (click)="endDate.toggle()" type="button">Calendar</button>
              </div>
            </div>
            <small id="endDateHelp" class="form-text text-muted">Please use the suggested date format or pick from the calendar.</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="featureon">Features turned ON</label>
            <input type="text" class="form-control" id="featureon" name="featureon" aria-describedby="featureonHelp" formControlName="featureOn">
            <small id="featureonHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CAP205, CAP207</small>
          </div>
          <div class="form-group col-5">
            <label for="featureoff">Features turned OFF</label>
            <input type="text" class="form-control" id="featureoff" name="featureoff" aria-describedby="featureoffHelp" formControlName="featureOff">
            <small id="featureoffHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. CAP205, CAP207</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-5 mr-5">
            <label for="apiused">APIs Used</label>
            <input type="text" class="form-control" id="apiused" name="apiused" aria-describedby="apiusedHelp" formControlName="apiUsed">
            <small id="apiusedHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. IPAY, OPAY</small>
          </div>
          <div class="form-group col-5">
            <label for="compiledsources">Compiled Sources</label>
            <input type="text" class="form-control" id="compiledsources" name="compiledsources" aria-describedby="compiledsourcesHelp" formControlName="compiledSources">
            <small id="compiledsourcesHelp" class="form-text text-muted">Please use comma and space to separate mutiple entries. e.g. LEC06A, FTC0630</small>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-3 mb-5" [disabled]="eventForm.invalid">Submit</button>
      </form>
    </div>
    <div class="col-3">
      The results will be placed here.
    </div>
  </div>
</div>
